# emacs backup files
*~

# Misc tags/ctags files
tags
TAGS
TAGS_sorted_by_file

# googletest files
source_downloads

# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Configuration files for Visual Studio Code
.vscode/

# mysql develop
VERSION.dep
CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Docs/INFO_BIN
Docs/INFO_SRC
Makefile
archive_output_directory/
bin
boost_patch_diffs
client/CTestTestfile.cmake
client/Makefile
client/base/CTestTestfile.cmake
client/base/Makefile
client/base/cmake_install.cmake
client/base/libclient_base.a
client/cmake_install.cmake
client/dump/CTestTestfile.cmake
client/dump/Makefile
client/dump/cmake_install.cmake
client/dump/libmysqlpump_lib.a
client/migrate_keyring/CTestTestfile.cmake
client/migrate_keyring/Makefile
client/migrate_keyring/cmake_install.cmake
cmake_install.cmake
components/audit_api_message_emit/CTestTestfile.cmake
components/audit_api_message_emit/Makefile
components/audit_api_message_emit/cmake_install.cmake
components/example/CTestTestfile.cmake
components/example/Makefile
components/example/cmake_install.cmake
components/keyrings/CTestTestfile.cmake
components/keyrings/Makefile
components/keyrings/cmake_install.cmake
components/keyrings/common/CTestTestfile.cmake
components/keyrings/common/Makefile
components/keyrings/common/cmake_install.cmake
components/keyrings/keyring_file/CTestTestfile.cmake
components/keyrings/keyring_file/Makefile
components/keyrings/keyring_file/cmake_install.cmake
components/libminchassis/CTestTestfile.cmake
components/libminchassis/Makefile
components/libminchassis/cmake_install.cmake
components/libminchassis/libminchassis.a
components/library_mysys/CTestTestfile.cmake
components/library_mysys/Makefile
components/library_mysys/cmake_install.cmake
components/library_mysys/liblibrary_mysys.a
components/logging/CTestTestfile.cmake
components/logging/Makefile
components/logging/cmake_install.cmake
components/mysqlbackup/CTestTestfile.cmake
components/mysqlbackup/Makefile
components/mysqlbackup/cmake_install.cmake
components/pfs_component/CTestTestfile.cmake
components/pfs_component/Makefile
components/pfs_component/cmake_install.cmake
components/pfs_example/CTestTestfile.cmake
components/pfs_example/Makefile
components/pfs_example/cmake_install.cmake
components/query_attributes/CTestTestfile.cmake
components/query_attributes/Makefile
components/query_attributes/cmake_install.cmake
components/reference_cache/CTestTestfile.cmake
components/reference_cache/Makefile
components/reference_cache/cmake_install.cmake
components/test/CTestTestfile.cmake
components/test/Makefile
components/test/cmake_install.cmake
components/test/keyring_encryption_test/CTestTestfile.cmake
components/test/keyring_encryption_test/Makefile
components/test/keyring_encryption_test/cmake_install.cmake
components/test/perfschema/CTestTestfile.cmake
components/test/perfschema/Makefile
components/test/perfschema/cmake_install.cmake
components/test/table_access/CTestTestfile.cmake
components/test/table_access/Makefile
components/test/table_access/cmake_install.cmake
components/test/udf_services/CTestTestfile.cmake
components/test/udf_services/Makefile
components/test/udf_services/cmake_install.cmake
components/validate_password/CTestTestfile.cmake
components/validate_password/Makefile
components/validate_password/cmake_install.cmake
debian/
extra/icu/Makefile
extra/icu/cmake_install.cmake
extra/icu/source/common/Makefile
extra/icu/source/common/cmake_install.cmake
extra/icu/source/common/libicuuc.a
extra/icu/source/i18n/Makefile
extra/icu/source/i18n/cmake_install.cmake
extra/icu/source/i18n/libicui18n.a
extra/icu/source/stubdata/Makefile
extra/icu/source/stubdata/cmake_install.cmake
extra/icu/source/stubdata/libicustubdata.a
extra/libedit/libedit-20191231-3.1/src/Makefile
extra/libedit/libedit-20191231-3.1/src/cmake_install.cmake
extra/libedit/libedit-20191231-3.1/src/common.h
extra/libedit/libedit-20191231-3.1/src/emacs.h
extra/libedit/libedit-20191231-3.1/src/fcns.h
extra/libedit/libedit-20191231-3.1/src/func.h
extra/libedit/libedit-20191231-3.1/src/help.h
extra/libedit/libedit-20191231-3.1/src/libedit.a
extra/libedit/libedit-20191231-3.1/src/makelist
extra/libedit/libedit-20191231-3.1/src/vi.h
extra/libevent/libevent-2.1.11-stable/Makefile
extra/libevent/libevent-2.1.11-stable/cmake_install.cmake
extra/libevent/libevent-2.1.11-stable/include/evconfig-private.h
extra/libevent/libevent-2.1.11-stable/include/event2/event-config.h
extra/libevent/libevent-2.1.11-stable/lib/
extra/protobuf/Makefile
extra/protobuf/cmake_install.cmake
extra/protobuf/protobuf-3.11.4/cmake/Makefile
extra/protobuf/protobuf-3.11.4/cmake/cmake_install.cmake
extra/zlib/Makefile
extra/zlib/cmake_install.cmake
extra/zlib/zconf.h
extra/zstd/Makefile
extra/zstd/cmake_install.cmake
find_libevent_version.c
include/CTestTestfile.cmake
include/Makefile
include/binlog_config.h
include/cmake_install.cmake
include/config.h
include/my_config.h
include/mysql_version.h
include/mysqlclient_ername.h
include/mysqld_ername.h
include/mysqld_errmsg.h
include/mysqld_error.h
info_macros.cmake
install_manifest.txt
lib
libbinlogevents/CTestTestfile.cmake
libbinlogevents/Makefile
libbinlogevents/cmake_install.cmake
libbinlogevents/lib/
libbinlogevents/src/CTestTestfile.cmake
libbinlogevents/src/Makefile
libbinlogevents/src/cmake_install.cmake
libbinlogstandalone/CTestTestfile.cmake
libbinlogstandalone/Makefile
libbinlogstandalone/cmake_install.cmake
libbinlogstandalone/lib/
libbinlogstandalone/src/CTestTestfile.cmake
libbinlogstandalone/src/Makefile
libbinlogstandalone/src/cmake_install.cmake
libgmock.a
libgmock_main.a
libgtest.a
libgtest_main.a
liblz4_lib.a
libmysql/CTestTestfile.cmake
libmysql/Makefile
libmysql/api_test.c
libmysql/authentication_fido/CTestTestfile.cmake
libmysql/authentication_fido/Makefile
libmysql/authentication_fido/cmake_install.cmake
libmysql/authentication_kerberos/CTestTestfile.cmake
libmysql/authentication_kerberos/Makefile
libmysql/authentication_kerberos/cmake_install.cmake
libmysql/authentication_ldap/CTestTestfile.cmake
libmysql/authentication_ldap/Makefile
libmysql/authentication_ldap/cmake_install.cmake
libmysql/authentication_oci_client/CTestTestfile.cmake
libmysql/authentication_oci_client/Makefile
libmysql/authentication_oci_client/cmake_install.cmake
libmysql/cmake_install.cmake
libmysql/libmysql.ver
libmysql/libmysql_api_test.out
libmysql/libmysql_dummy.c
library_output_directory/
libservices/CTestTestfile.cmake
libservices/Makefile
libservices/cmake_install.cmake
libservices/libmysqlservices.a
make_dist.cmake
man/CTestTestfile.cmake
man/Makefile
man/cmake_install.cmake
mysql-test/CTestTestfile.cmake
mysql-test/Makefile
mysql-test/cmake_install.cmake
mysql-test/lib/My/SafeProcess/CTestTestfile.cmake
mysql-test/lib/My/SafeProcess/Makefile
mysql-test/lib/My/SafeProcess/cmake_install.cmake
mysql-test/mtr
mysql-test/mysql-test-run
mysys/CTestTestfile.cmake
mysys/Makefile
mysys/cmake_install.cmake
packaging/WiX/CTestTestfile.cmake
packaging/WiX/Makefile
packaging/WiX/cmake_install.cmake
packaging/deb-in/CTestTestfile.cmake
packaging/deb-in/Makefile
packaging/deb-in/cmake_install.cmake
packaging/rpm-common/CTestTestfile.cmake
packaging/rpm-common/Makefile
packaging/rpm-common/cmake_install.cmake
packaging/rpm-common/my.cnf
packaging/rpm-common/mysql.logrotate
packaging/rpm-common/mysqlrouter.conf
packaging/rpm-docker/CTestTestfile.cmake
packaging/rpm-docker/Makefile
packaging/rpm-docker/cmake_install.cmake
packaging/rpm-docker/my.cnf
packaging/rpm-docker/mysql.spec
packaging/rpm-fedora/CTestTestfile.cmake
packaging/rpm-fedora/Makefile
packaging/rpm-fedora/cmake_install.cmake
packaging/rpm-fedora/mysql.spec
packaging/rpm-oel/CTestTestfile.cmake
packaging/rpm-oel/Makefile
packaging/rpm-oel/cmake_install.cmake
packaging/rpm-oel/mysql.spec
packaging/rpm-sles/CTestTestfile.cmake
packaging/rpm-sles/Makefile
packaging/rpm-sles/cmake_install.cmake
packaging/rpm-sles/mysql.spec
packaging/solaris/CTestTestfile.cmake
packaging/solaris/Makefile
packaging/solaris/cmake_install.cmake
plugin/audit_null/CTestTestfile.cmake
plugin/audit_null/Makefile
plugin/audit_null/cmake_install.cmake
plugin/auth/CTestTestfile.cmake
plugin/auth/Makefile
plugin/auth/cmake_install.cmake
plugin/clone/CTestTestfile.cmake
plugin/clone/Makefile
plugin/clone/cmake_install.cmake
plugin/connection_control/CTestTestfile.cmake
plugin/connection_control/Makefile
plugin/connection_control/cmake_install.cmake
plugin/daemon_example/CTestTestfile.cmake
plugin/daemon_example/Makefile
plugin/daemon_example/cmake_install.cmake
plugin/ddl_rewriter/CTestTestfile.cmake
plugin/ddl_rewriter/Makefile
plugin/ddl_rewriter/cmake_install.cmake
plugin/fulltext/CTestTestfile.cmake
plugin/fulltext/Makefile
plugin/fulltext/cmake_install.cmake
plugin/fulltext/libngram_parser.a
plugin/group_replication/CTestTestfile.cmake
plugin/group_replication/Makefile
plugin/group_replication/cmake_install.cmake
plugin/group_replication/generated/
plugin/group_replication/libgr_unit_test_resource.a
plugin/group_replication/libmysqlgcs/CTestTestfile.cmake
plugin/group_replication/libmysqlgcs/Makefile
plugin/group_replication/libmysqlgcs/cmake_install.cmake
plugin/group_replication/libmysqlgcs/include/mysql/gcs/mysql_gcs.h
plugin/group_replication/libmysqlgcs/include/xcom/
plugin/group_replication/libmysqlgcs/libmysqlgcs.a
plugin/group_replication/libmysqlgcs/xdr_gen/
plugin/group_replication/protobuf/CTestTestfile.cmake
plugin/group_replication/protobuf/Makefile
plugin/group_replication/protobuf/cmake_install.cmake
plugin/group_replication/protobuf/libgr_protobuf_lite.a
plugin/innodb_memcached/CTestTestfile.cmake
plugin/innodb_memcached/Makefile
plugin/innodb_memcached/cmake_install.cmake
plugin/keyring/CTestTestfile.cmake
plugin/keyring/Makefile
plugin/keyring/cmake_install.cmake
plugin/keyring_udf/CTestTestfile.cmake
plugin/keyring_udf/Makefile
plugin/keyring_udf/cmake_install.cmake
plugin/password_validation/CTestTestfile.cmake
plugin/password_validation/Makefile
plugin/password_validation/cmake_install.cmake
plugin/pfs_table_plugin/CTestTestfile.cmake
plugin/pfs_table_plugin/Makefile
plugin/pfs_table_plugin/cmake_install.cmake
plugin/replication_observers_example/CTestTestfile.cmake
plugin/replication_observers_example/Makefile
plugin/replication_observers_example/cmake_install.cmake
plugin/rewrite_example/CTestTestfile.cmake
plugin/rewrite_example/Makefile
plugin/rewrite_example/cmake_install.cmake
plugin/rewriter/CTestTestfile.cmake
plugin/rewriter/Makefile
plugin/rewriter/cmake_install.cmake
plugin/rewriter/install_rewriter.sql
plugin/rewriter/uninstall_rewriter.sql
plugin/semisync/CTestTestfile.cmake
plugin/semisync/Makefile
plugin/semisync/cmake_install.cmake
plugin/test_service_sql_api/CTestTestfile.cmake
plugin/test_service_sql_api/Makefile
plugin/test_service_sql_api/cmake_install.cmake
plugin/test_services/CTestTestfile.cmake
plugin/test_services/Makefile
plugin/test_services/cmake_install.cmake
plugin/udf_services/CTestTestfile.cmake
plugin/udf_services/Makefile
plugin/udf_services/cmake_install.cmake
plugin/version_token/CTestTestfile.cmake
plugin/version_token/Makefile
plugin/version_token/cmake_install.cmake
plugin/x/CTestTestfile.cmake
plugin/x/Makefile
plugin/x/client/CTestTestfile.cmake
plugin/x/client/Makefile
plugin/x/client/cmake_install.cmake
plugin/x/client/libmysqlxclient.a
plugin/x/client/libmysqlxclient_lite.a
plugin/x/cmake_install.cmake
plugin/x/generated/
plugin/x/libmysqlx.a
plugin/x/protocol/CTestTestfile.cmake
plugin/x/protocol/Makefile
plugin/x/protocol/cmake_install.cmake
plugin/x/protocol/plugin/CTestTestfile.cmake
plugin/x/protocol/plugin/Makefile
plugin/x/protocol/plugin/cmake_install.cmake
plugin/x/protocol/protobuf/CTestTestfile.cmake
plugin/x/protocol/protobuf/Makefile
plugin/x/protocol/protobuf/cmake_install.cmake
plugin/x/protocol/protobuf/libmysqlxmessages.a
plugin/x/protocol/protobuf/libmysqlxmessages_lite.a
plugin/x/tests/CTestTestfile.cmake
plugin/x/tests/Makefile
plugin/x/tests/cmake_install.cmake
plugin/x/tests/components/CTestTestfile.cmake
plugin/x/tests/components/Makefile
plugin/x/tests/components/cmake_install.cmake
plugin/x/tests/driver/CTestTestfile.cmake
plugin/x/tests/driver/Makefile
plugin/x/tests/driver/cmake_install.cmake
plugin_output_directory/
router/CTestTestfile.cmake
router/Makefile
router/cmake_install.cmake
router/include/
router/router_config.h
router/src/CTestTestfile.cmake
router/src/Makefile
router/src/cmake_install.cmake
router/src/harness/CTestTestfile.cmake
router/src/harness/Makefile
router/src/harness/cmake_install.cmake
router/src/harness/include/CTestTestfile.cmake
router/src/harness/include/Makefile
router/src/harness/include/cmake_install.cmake
router/src/harness/include/libharness_net_ts.a
router/src/harness/include/mysql/harness/stdx_export.h
router/src/harness/include/mysql/harness/tls_export.h
router/src/harness/shared/CTestTestfile.cmake
router/src/harness/shared/Makefile
router/src/harness/shared/cmake_install.cmake
router/src/harness/shared/libtest-helpers.a
router/src/harness/src/CTestTestfile.cmake
router/src/harness/src/Makefile
router/src/harness/src/cmake_install.cmake
router/src/harness/src/libmysqlharness.a
router/src/harness/src/src_SHARED/
router/src/harness/src/src_STATIC/
router/src/harness/tests/CTestTestfile.cmake
router/src/harness/tests/Makefile
router/src/harness/tests/cmake_install.cmake
router/src/harness/tests/plugins/CTestTestfile.cmake
router/src/harness/tests/plugins/Makefile
router/src/harness/tests/plugins/cmake_install.cmake
router/src/http/CTestTestfile.cmake
router/src/http/Makefile
router/src/http/cmake_install.cmake
router/src/http/include/mysqlrouter/http_auth_backend_export.h
router/src/http/include/mysqlrouter/http_auth_backend_lib_export.h
router/src/http/include/mysqlrouter/http_auth_realm_export.h
router/src/http/include/mysqlrouter/http_auth_realm_lib_export.h
router/src/http/src/CTestTestfile.cmake
router/src/http/src/Makefile
router/src/http/src/cmake_install.cmake
router/src/http/tests/CTestTestfile.cmake
router/src/http/tests/Makefile
router/src/http/tests/cmake_install.cmake
router/src/io/CTestTestfile.cmake
router/src/io/Makefile
router/src/io/cmake_install.cmake
router/src/io/include/mysqlrouter/io_component_export.h
router/src/io/include/mysqlrouter/io_export.h
router/src/io/src/CTestTestfile.cmake
router/src/io/src/Makefile
router/src/io/src/cmake_install.cmake
router/src/io/tests/CTestTestfile.cmake
router/src/io/tests/Makefile
router/src/io/tests/cmake_install.cmake
router/src/json_schema_embedder/CTestTestfile.cmake
router/src/json_schema_embedder/Makefile
router/src/json_schema_embedder/cmake_install.cmake
router/src/json_schema_embedder/json_schema_embedder
router/src/keepalive/CTestTestfile.cmake
router/src/keepalive/Makefile
router/src/keepalive/cmake_install.cmake
router/src/keepalive/tests/CTestTestfile.cmake
router/src/keepalive/tests/Makefile
router/src/keepalive/tests/cmake_install.cmake
router/src/metadata_cache/CTestTestfile.cmake
router/src/metadata_cache/Makefile
router/src/metadata_cache/cmake_install.cmake
router/src/metadata_cache/libmetadata_cache_static.a
router/src/metadata_cache/tests/CTestTestfile.cmake
router/src/metadata_cache/tests/Makefile
router/src/metadata_cache/tests/cmake_install.cmake
router/src/mock_server/CTestTestfile.cmake
router/src/mock_server/Makefile
router/src/mock_server/cmake_install.cmake
router/src/mock_server/src/CTestTestfile.cmake
router/src/mock_server/src/Makefile
router/src/mock_server/src/cmake_install.cmake
router/src/mock_server/src/libmock_server_rest_client.a
router/src/mock_server/src/mysql_server_mock_schema.cc
router/src/mock_server/src/mysql_server_mock_schema.h
router/src/mock_server/tests/CTestTestfile.cmake
router/src/mock_server/tests/Makefile
router/src/mock_server/tests/cmake_install.cmake
router/src/mysql_protocol/CTestTestfile.cmake
router/src/mysql_protocol/Makefile
router/src/mysql_protocol/cmake_install.cmake
router/src/mysql_protocol/tests/CTestTestfile.cmake
router/src/mysql_protocol/tests/Makefile
router/src/mysql_protocol/tests/cmake_install.cmake
router/src/openssl/CTestTestfile.cmake
router/src/openssl/Makefile
router/src/openssl/cmake_install.cmake
router/src/openssl/include/
router/src/openssl/src/CTestTestfile.cmake
router/src/openssl/src/Makefile
router/src/openssl/src/cmake_install.cmake
router/src/plugin_info/CTestTestfile.cmake
router/src/plugin_info/Makefile
router/src/plugin_info/cmake_install.cmake
router/src/plugin_info/src/CTestTestfile.cmake
router/src/plugin_info/src/Makefile
router/src/plugin_info/src/cmake_install.cmake
router/src/plugin_info/tests/CTestTestfile.cmake
router/src/plugin_info/tests/Makefile
router/src/plugin_info/tests/cmake_install.cmake
router/src/protobuf/CTestTestfile.cmake
router/src/protobuf/Makefile
router/src/protobuf/cmake_install.cmake
router/src/protobuf/include/
router/src/protobuf/src/CTestTestfile.cmake
router/src/protobuf/src/Makefile
router/src/protobuf/src/cmake_install.cmake
router/src/rest_api/CTestTestfile.cmake
router/src/rest_api/Makefile
router/src/rest_api/cmake_install.cmake
router/src/rest_api/include/mysqlrouter/rest_api_export.h
router/src/rest_api/src/CTestTestfile.cmake
router/src/rest_api/src/Makefile
router/src/rest_api/src/cmake_install.cmake
router/src/rest_api/src/librest_api_lib.a
router/src/rest_metadata_cache/CTestTestfile.cmake
router/src/rest_metadata_cache/Makefile
router/src/rest_metadata_cache/cmake_install.cmake
router/src/rest_metadata_cache/src/CTestTestfile.cmake
router/src/rest_metadata_cache/src/Makefile
router/src/rest_metadata_cache/src/cmake_install.cmake
router/src/rest_router/CTestTestfile.cmake
router/src/rest_router/Makefile
router/src/rest_router/cmake_install.cmake
router/src/rest_router/include/
router/src/rest_router/src/CTestTestfile.cmake
router/src/rest_router/src/Makefile
router/src/rest_router/src/cmake_install.cmake
router/src/rest_routing/CTestTestfile.cmake
router/src/rest_routing/Makefile
router/src/rest_routing/cmake_install.cmake
router/src/rest_routing/include/
router/src/rest_routing/src/CTestTestfile.cmake
router/src/rest_routing/src/Makefile
router/src/rest_routing/src/cmake_install.cmake
router/src/router/CTestTestfile.cmake
router/src/router/Makefile
router/src/router/cmake_install.cmake
router/src/router/src/CTestTestfile.cmake
router/src/router/src/Makefile
router/src/router/src/cmake_install.cmake
router/src/router/tests/CTestTestfile.cmake
router/src/router/tests/Makefile
router/src/router/tests/cmake_install.cmake
router/src/routing/CTestTestfile.cmake
router/src/routing/Makefile
router/src/routing/cmake_install.cmake
router/src/routing/include/mysqlrouter/routing_export.h
router/src/routing/tests/CTestTestfile.cmake
router/src/routing/tests/Makefile
router/src/routing/tests/cmake_install.cmake
router/src/routing/tests/librouting_plugin_tests.a
router/src/routing/tests/librouting_tests.a
router/tests/CTestTestfile.cmake
router/tests/Makefile
router/tests/cmake_install.cmake
router/tests/component/CTestTestfile.cmake
router/tests/component/Makefile
router/tests/component/cmake_install.cmake
router/tests/data/
router/tests/fuzzers/CTestTestfile.cmake
router/tests/fuzzers/Makefile
router/tests/fuzzers/cmake_install.cmake
router/tests/libroutertest_helpers.a
runtime_output_directory/
scripts/CTestTestfile.cmake
scripts/Makefile
scripts/cmake_install.cmake
scripts/make_binary_distribution
scripts/mysql_config
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.h
scripts/mysqlclient.pc
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/sql_commands_help_data.h
scripts/sql_commands_system_data.h
scripts/sql_commands_system_tables.h
scripts/sql_commands_system_tables_data_fix.h
scripts/sql_commands_system_users.h
scripts/sql_firewall_stored_procedures.h
scripts/sys_schema/ALL_SYS_SCHEMA.sql
scripts/sys_schema/ALL_SYS_SCHEMA.sql.in
scripts/sys_schema/CTestTestfile.cmake
scripts/sys_schema/Makefile
scripts/sys_schema/cmake_install.cmake
scripts/sys_schema/sql_commands.h
server_unittest_library_dummy.c
share/CTestTestfile.cmake
share/Makefile
share/bulgarian/
share/cmake_install.cmake
share/czech/
share/danish/
share/dutch/
share/english/
share/estonian/
share/french/
share/german/
share/greek/
share/hungarian/
share/italian/
share/japanese/
share/korean/
share/norwegian-ny/
share/norwegian/
share/polish/
share/portuguese/
share/romanian/
share/russian/
share/serbian/
share/slovak/
share/spanish/
share/swedish/
share/ukrainian/
sql/CTestTestfile.cmake
sql/Makefile
sql/cmake_install.cmake
sql/keyword_list.h
sql/lex_hash.h
sql/lex_token.h
sql/libbinlog.a
sql/libmaster.a
sql/librpl.a
sql/libslave.a
sql/libsql_dd.a
sql/libsql_gis.a
sql/libsql_main.a
sql/protobuf/CTestTestfile.cmake
sql/protobuf/Makefile
sql/protobuf/cmake_install.cmake
sql/protobuf/generated/
sql/protobuf/librpl_protobuf_lite.a
sql/server_component/CTestTestfile.cmake
sql/server_component/Makefile
sql/server_component/cmake_install.cmake
sql/server_component/libmysql_server_component_services.a
sql/sql_builtin.cc
sql/sql_hints.yy.cc
sql/sql_hints.yy.h
sql/sql_yacc.cc
sql/sql_yacc.h
storage/archive/CTestTestfile.cmake
storage/archive/Makefile
storage/archive/cmake_install.cmake
storage/archive/libarchive.a
storage/blackhole/CTestTestfile.cmake
storage/blackhole/Makefile
storage/blackhole/cmake_install.cmake
storage/blackhole/libblackhole.a
storage/csv/CTestTestfile.cmake
storage/csv/Makefile
storage/csv/cmake_install.cmake
storage/csv/libcsv.a
storage/example/CTestTestfile.cmake
storage/example/Makefile
storage/example/cmake_install.cmake
storage/federated/CTestTestfile.cmake
storage/federated/Makefile
storage/federated/cmake_install.cmake
storage/federated/libfederated.a
storage/heap/CTestTestfile.cmake
storage/heap/Makefile
storage/heap/cmake_install.cmake
storage/heap/libheap.a
storage/heap/libheap_library.a
storage/innobase/CTestTestfile.cmake
storage/innobase/Makefile
storage/innobase/cmake_install.cmake
storage/innobase/libinnobase.a
storage/innobase/libinnodb_zipdecompress.a
storage/myisam/CTestTestfile.cmake
storage/myisam/Makefile
storage/myisam/cmake_install.cmake
storage/myisam/libmyisam.a
storage/myisam/libmyisam_library.a
storage/myisammrg/CTestTestfile.cmake
storage/myisammrg/Makefile
storage/myisammrg/cmake_install.cmake
storage/myisammrg/libmyisammrg.a
storage/ndb/CTestTestfile.cmake
storage/ndb/Makefile
storage/ndb/cmake_install.cmake
storage/perfschema/CTestTestfile.cmake
storage/perfschema/Makefile
storage/perfschema/cmake_install.cmake
storage/perfschema/libperfschema.a
storage/perfschema/unittest/CTestTestfile.cmake
storage/perfschema/unittest/Makefile
storage/perfschema/unittest/cmake_install.cmake
storage/perfschema/unittest/libpfs_server_stubs.a
storage/secondary_engine_mock/CTestTestfile.cmake
storage/secondary_engine_mock/Makefile
storage/secondary_engine_mock/cmake_install.cmake
storage/temptable/CTestTestfile.cmake
storage/temptable/Makefile
storage/temptable/cmake_install.cmake
storage/temptable/libtemptable.a
strings/CTestTestfile.cmake
strings/Makefile
strings/cmake_install.cmake
strings/uca900_ja_tbls.cc
strings/uca900_zh_tbls.cc
support-files/CTestTestfile.cmake
support-files/Makefile
support-files/cmake_install.cmake
support-files/mysql-log-rotate
support-files/mysql.server
support-files/mysqlrouter-log-rotate
testclients/CTestTestfile.cmake
testclients/Makefile
testclients/cmake_install.cmake
unittest/CTestTestfile.cmake
unittest/Makefile
unittest/cmake_install.cmake
unittest/examples/CTestTestfile.cmake
unittest/examples/Makefile
unittest/examples/cmake_install.cmake
unittest/gunit/CTestTestfile.cmake
unittest/gunit/Makefile
unittest/gunit/binlogevents/CTestTestfile.cmake
unittest/gunit/binlogevents/Makefile
unittest/gunit/binlogevents/cmake_install.cmake
unittest/gunit/cmake_install.cmake
unittest/gunit/components/keyring_common/CTestTestfile.cmake
unittest/gunit/components/keyring_common/Makefile
unittest/gunit/components/keyring_common/cmake_install.cmake
unittest/gunit/components/mysql_server/CTestTestfile.cmake
unittest/gunit/components/mysql_server/Makefile
unittest/gunit/components/mysql_server/cmake_install.cmake
unittest/gunit/components/mysql_server/libunit_test_common.a
unittest/gunit/containers/CTestTestfile.cmake
unittest/gunit/containers/Makefile
unittest/gunit/containers/cmake_install.cmake
unittest/gunit/ddl_rewriter/CTestTestfile.cmake
unittest/gunit/ddl_rewriter/Makefile
unittest/gunit/ddl_rewriter/cmake_install.cmake
unittest/gunit/group_replication/CTestTestfile.cmake
unittest/gunit/group_replication/Makefile
unittest/gunit/group_replication/cmake_install.cmake
unittest/gunit/innodb/CTestTestfile.cmake
unittest/gunit/innodb/Makefile
unittest/gunit/innodb/cmake_install.cmake
unittest/gunit/innodb/lob/CTestTestfile.cmake
unittest/gunit/innodb/lob/Makefile
unittest/gunit/innodb/lob/cmake_install.cmake
unittest/gunit/innodb/lob/lot0lot-t
unittest/gunit/innodb/lob/ut0frags-t
unittest/gunit/innodb/lob/ut0plist-t
unittest/gunit/innodb/lob/zlob0int-t
unittest/gunit/keyring/CTestTestfile.cmake
unittest/gunit/keyring/Makefile
unittest/gunit/keyring/cmake_install.cmake
unittest/gunit/keyring/libkeyring_test.a
unittest/gunit/libgunit_large.a
unittest/gunit/libgunit_small.a
unittest/gunit/libmysqlgcs/CTestTestfile.cmake
unittest/gunit/libmysqlgcs/Makefile
unittest/gunit/libmysqlgcs/cmake_install.cmake
unittest/gunit/librpl_channel_credentials_lib.a
unittest/gunit/librpl_commit_order_queue_lib.a
unittest/gunit/libsqlgunitlib.a
unittest/gunit/locks/CTestTestfile.cmake
unittest/gunit/locks/Makefile
unittest/gunit/locks/cmake_install.cmake
unittest/gunit/memory/CTestTestfile.cmake
unittest/gunit/memory/Makefile
unittest/gunit/memory/cmake_install.cmake
unittest/gunit/temptable/CTestTestfile.cmake
unittest/gunit/temptable/Makefile
unittest/gunit/temptable/cmake_install.cmake
unittest/gunit/xplugin/CTestTestfile.cmake
unittest/gunit/xplugin/Makefile
unittest/gunit/xplugin/cmake_install.cmake
unittest/gunit/xplugin/xcl/CTestTestfile.cmake
unittest/gunit/xplugin/xcl/Makefile
unittest/gunit/xplugin/xcl/cmake_install.cmake
unittest/gunit/xplugin/xpl/CTestTestfile.cmake
unittest/gunit/xplugin/xpl/Makefile
unittest/gunit/xplugin/xpl/cmake_install.cmake
unittest/mytap/CTestTestfile.cmake
unittest/mytap/Makefile
unittest/mytap/cmake_install.cmake
unittest/mytap/libmytap.a
unittest/mytap/t/CTestTestfile.cmake
unittest/mytap/t/Makefile
unittest/mytap/t/cmake_install.cmake
utilities/CTestTestfile.cmake
utilities/Makefile
utilities/cmake_install.cmake
vio/CTestTestfile.cmake
vio/Makefile
vio/cmake_install.cmake